package layout

templ Base(scripts []string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edg"/>
			// <script src="/public/htmx.min.js"></script>
			for _, src := range scripts {
				<script src={src}></script>
			}
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
