package count

import (
    "strconv"

    // "github.com/ryansheehan/go-todo/internal/view/layout"
)    

templ Count(n uint64) {
    <div>
        <p>Count: 
            <span id="count-number">
                @Number(n)
            </span>
        </p>
        <button hx-post="/count/increment" hx-target="#count-number">Increment</button>
    </div>
}

templ Number(n uint64) {
    // @layout.Base() {
        {strconv.FormatUint(n, 10)}
    // }
}
